<div>
		<ul>
			<li><a href='/about'><button>About Us</button></a></li>
			<div style="background:#fff; margin:30px;">
			
			</div>
			<li><button>Client Testimonials</button></li>
			<li><button>Inside Your Lender's Head</button></li>
			<li><button>Contact Us</button></li>
		</ul>
</div>	