<div id="about_body">
	<div id="g_container">
		<img src="/assets/gg.png" class="globe" />
	</div>
	<div id="about_container">
		<img src="/assets/text/about.png" class="text"/>
		<div id="about_text">
			Founded in 1995 by Gerald Joseph, Gerber Finance is the product of a joint venture between 
			InvestecBank, a member of the London Stock Exchange and the Gerber Goldshmidt Group, a 
			leading international trading and investment company since 1921.
		</div>
	</div>
</div>