<div id="page_conatiner">
	<img src="/assets/text/asset.png" class="text">
	<div id="asset_text">
		Our asset-based lines of credit, we provide working capital by leveraging your accounts 
		receivable and inventory assets. Because Gerber is experienced in lending against 
		inventory, we can typically provide our clients with greater availability against 
		their inventory than other asset based lenders. Your credit line grows with your 
		business. Many of our clients have seen their businesses and customer base expand 
		rapidly with the increase in purchasing power. Our flexibility and our commitment to 
		understanding your business allow us to react positively and rapidly to the growing needs 
		of a success.
	</div>
</div>