<div id="page_conatiner">
	<img src="/assets/text/credit.png" class="text">
	<div id="credit_text">
		Our primary focus is the financing of long-term profitable growth.  Each credit facility 
		is designed to meet the individual needs of your business, taking into account 
		specifics such as trade cycles, seasonality, customer base and more. Although a dollar 
		amount is set for each line of credit, our size and short lines of communication allow 
		for flexibility when the need arises. 
	</div>
</div>


<div id="ceo_video">   
	<iframe  id="movie1"  style="display:none;" src="http://player.vimeo.com/video/50234179?api=1&player_id=movie1&portrait=0&byline=0&autoplay=0" width="250" height="142" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>        
	<iframe  id="movie2"  style="display:none;" src="http://player.vimeo.com/video/50234180?api=1&player_id=movie2&portrait=0&byline=0&autoplay=0" width="250" height="142" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <iframe  id="movie3"  style="display:none;" src="http://player.vimeo.com/video/50234181?api=1&player_id=movie3&portrait=0&byline=0&autoplay=0" width="250" height="142" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

  
<div id="flash_d" value="Show" onclick="$('#movie1').show('slow'), $('#movie2').hide('slow'), $('#movie3').hide('slow'), $('#thoughts').hide('slow')">Movie1</div>
<div id="beyond1_d" value="Show" onclick="$('#movie2').show('slow'), $('#movie1').hide('slow'), $('#movie3').hide('slow'), $('#thoughts').hide('slow')">Movie2</div>
<div id="beyond2_d" value="Show" onclick="$('#movie3').show('slow'), $('#movie1').hide('slow'), $('#movie2').hide('slow'), $('#thoughts').hide('slow')">Movie3</div>

</div>