<h1><% set_meta_tags :title => 'Client Testimonials',
                 :description => 'Video testimonials from current Gerber clients',
                 :keywords => 'drew estate, schofield stone, paramount, pilgrim screw' %>
</h1>
<script type="text/javascript">
    jQuery(document).ready(function($){
        $('#video-slider').advancedSlider({width: 420,
										   height: 460,
										   scaleType: 'outsideFit',
										   skin: 'light-square',
										   effectType: 'fade',
										   slideshow:true,
										   pauseSlideshowOnHover: true,
										   leaveVideoAction: 'pauseVideo',
										   videoPlayAction: 'pauseSlideshow',
										   videoPauseAction: 'none',
										   videoEndAction: 'resetVideo',
										   shadow: true,
										   overrideTransition: false,
										   keyboardNavigation: true,
										   timerToggle: true,
										   timerStrokeColor1: '#ffffff', 
										   timerStrokeColor2: '#000000', 
										   timerStrokeOpacity1: 0.3, 
										   timerStrokeOpacity2: 0.3, 
										   timerStrokeWidth1: 6, 
										   timerStrokeWidth2: 3,
										   slideButtons: false,
										   thumbnailType: 'scroller',
										   thumbnailScrollerResponsive: true,
										   thumbnailWidth: '80',
										   thumbnailHeight: '80',
										   thumbnailArrows: false,
										   thumbnailScrollerOverlay: false,
										   thumbnailLayers:1,
										   minimumVisibleThumbnails: 4,
										   thumbnailCaptionEasing:'none',										   
										   slideArrows: false,
										   slideshowDelay: 10000,
										   slideProperties: {
												1: {effectType: 'slide', slideEasing: 'easeInOutExpo'},
												2: {effectType: 'slide', slideEasing: 'easeInOutExpo'},
												3: {effectType: 'slide', slideEasing: 'easeInOutExpo'},
												4: {effectType: 'slide', slideEasing: 'easeInOutExpo'}
										   }
										   });
	});
	
	
</script>
<script type="text/javascript">
   window.onload = function()
   {
      TINY.box.show({iframe:'/yes_pop',boxid:'yes_frame',width:500,height:450,fixed:false,maskid:'yesmask',maskopacity:40,closejs:function(){closeJS()}})
   }
</script>


<div id="current_client_video">
<div class="advanced-slider" id="video-slider">
    <ul class="slides">
		<li class="slide">
  			<div class="html">
    			<iframe class="video" src="http://player.vimeo.com/video/50084705?api=1" width="400" height="260" frameborder="0"></iframe>
  			</div>
  			<img class="thumbnail" src="/assets/video_thumbs/paramount.png" alt="Paramount"/>
		</li>
		<li class="slide">
  			<div class="html">
    			<iframe class="video" src="http://player.vimeo.com/video/50093564?api=1&portrait=0&byline=0&autoplay=0&title=0" width="400" height="260" frameborder="0"></iframe>
  			</div>
  			<img class="thumbnail" src="/assets/video_thumbs/schofield.png" alt="Schofield"/>
		</li>
	
		<li class="slide">
  			<div class="html">
    			<iframe class="video" src="http://player.vimeo.com/video/50240566?api=1&portrait=0&byline=0&autoplay=0&title=0" width="400" height="260" frameborder="0"></iframe>
  			</div>
  			<img class="thumbnail" src="/assets/video_thumbs/drew_estate.png" alt="Drew Estates"/>
		</li>
		<li class="slide">
  			<div class="html">
    			<iframe class="video" src="http://player.vimeo.com/video/50084704?api=1&portrait=0&byline=0&autoplay=0&title=0" width="400" height="260" frameborder="0"></iframe>
  			</div>
  			<img class="thumbnail" src="/assets/video_thumbs/pilgrim.png" alt="Pilgrim"/>
		</li>
		
    </ul>
</div>
</div>

  			