<div id="history_body">
	<div id="globe_container">
		<img src="/assets/globe.gif" class="globe" alt="globe"/>
	</div>
	<div id="history_container">
		<img src="/assets/text/history.png" class="text" alt="history"/>
		<div id="history_text">
			Founded in 1995 by Gerald Joseph, Gerber Finance is the product of a joint venture between 
			<img src="/assets/investec.png" alt="Investec">, a member of the London Stock Exchange and the 
			<img src="/assets/ggg.png" alt="Gerber Goldschmidt Group">, a leading international trading 
			and investment company since 1921.
		</div>
	</div>
</div>

