<div class="compass">


	<img src="/assets/text/history.png" class="text">
	<div id="history_text">
		Founded in 1995 by Gerald Joseph, Gerber Finance is the product of a joint venture between 
		InvestecBank, a member of the London Stock Exchange and the Gerber Goldshmidt Group, a 
		leading international trading and investment company since 1921.
	</div>

</div>