<p style="color:white;">Welcome ...............</p>
<div>
		<ul>
			<li><a href='/about'><button></button></a></li>
			<li><button></button></li>
			<li><button></button></li>
			<li><button></button></li>
		</ul>
</div>	
