<div><img src="/assets/Logo.png" class="logo">
	</div>
	<div><img src="/assets/gerberfinance.png"></div>
	<div style="color:white;">
		<ul>
			<li><button>About Us</button></li>
			<li><button>Client Testimonials</button></li>
			<li><button>Inside Your Lender's Head</button></li>
			<li><button>Contact Us</button></li>
		</ul>
		
	</div>