<h1><% set_meta_tags :title => 'Profiles',
                 :description => 'The faces behind Gerber Finance Inc.',
                 :keywords => 'Gerald Joseph, Vadim Toyberman, Jennifer Palmer, Elana Goynatsky, Entela Semini' %>
</h1>

<div id="profiles">
<section class="tabs">
	            <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked" />
		        <label for="tab-1" class="tab-label-1">Gerald Joseph</label>
		
	            <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" />
		        <label for="tab-2" class="tab-label-2">Vadim Toyberman</label>
		
	            <input id="tab-3" type="radio" name="radio-set" class="tab-selector-3" />
		        <label for="tab-3" class="tab-label-3">Jennifer Palmer</label>
		        
		        <input id="tab-5" type="radio" name="radio-set" class="tab-selector-5" />
		        <label for="tab-5" class="tab-label-5">Entela Semini</label>
            
			    <div class="clear-shadow"></div>
				
		        <div class="content">
			        <div class="content-1">
						<table class="profile_table">
						<td>
                        	<img src="/assets/gerald.png" class="profile" alt="Gerald Joseph" style="margin-top:15px;"/>
        				</td>
        				<td>
        					<h3>Gerald Joseph</h3>
        					<p class="title">President</p>
              				<p class="profile">A Chartered Accountant educated at the University of Cape Town in South Africa.  After a stint in the apparel industry, he joined the Gerber Goldschmidt Group in 1982 eventually becoming the CEO of Gerber Goldschmidt Finance, their trade finance arm.  Moved to the US in 1994 and founded Gerber Finance shortly thereafter.  He sits on a number of boards as non-executive director and shareholder representative.</p>
							<p class="contact"><b>contact: </b><a href="tel:212-888-1855" class="profile">(212) 888-1855</a>&nbsp;/&nbsp;<a href="mailto:gjoseph@gerberfinance.com" class="profile">email</a><p>
						</td>
						</table>				    
				    </div>
			        <div class="content-2">
						<table>
						<td>
							<img src="/assets/vadim.png" class="profile" alt="Vadim Toyberman" style="margin-top:35px;"/>
                        </td>
                        <td>
                        	<h3>Vadim Toyberman</h3>
                        	<p class="title">Senior Vice President</p>         			
              				<p class="profile">As head of credit, Vadim overseas all aspects of credit management for Gerber’s portfolio. He was a Relationship Manager at Wells Fargo Business Credit prior to joining Gerber team in 2000, bringing a strong background in asset-based lending. Affable by nature, he is celebrated by colleagues and clients alike for his sense of humor and personal approach to lending. Vadim hails from Moldova and has a degree in Finance & Investments from Baruch College</p>
             				<p class="contact"><b>contact: </b><a href="tel:212-888-1517">(212) 888-1517</a>&nbsp;/&nbsp;<a href="mailto:vtoyberman@gerberfinance.com">email</a><p>
         				</td>
         				</table>
         			</div>
			        <div class="content-3">
						<table>
						<td>
							
							<img src="/assets/jennifer.png" class="profile" alt="Jennifer Palmer" style="margin-top:35px;"/>
                        </td>
                        <td>
                        	<h3>Jennifer Palmer</h2>
                        	<p class="title">Senior Vice President</p>
              				<p class="profile">As SVP of Business Development, Jennifer is responsible for cultivating new relationships with companies that would benefit from financing with Gerber. As In-House Counsel, Jennifer is able to streamline the documentation process while reducing clients’ costs. Jennifer holds a JD from Fordham Law and a BA from Marist College. She is active in the industry serving on various committees including the Board of Directors of the Commercial Finance Association.</p> 
              				<p class="contact"><b>contact: </b><a href="tel:212-888-1533">(212) 888-1533</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href="mailto:jpalmer@gerberfinance.com">email</a><p>
          				</td>
          				</table>
          			</div>
              		<div class="content-5">
						<table>
						<td>
							
							<img src="/assets/entela.png" class="profile" alt="Entela Semini" style="margin-top:35px;"/>
	              		</td>
	              		<td>	
	              			<h3>Entela Semini</h3>
	              			<p class="title">Vice President</p>
              				<p class="profile">Raised in Tirana, Albania, Entela came to the US as an exchange student in 1999. She obtained her BA in Finance from Pace University and joined Gerber Finance in 2006. Entela interfaces on a daily basis with clients dealing with the collateral and financial reporting, borrowing bases, cash flows and ensuring that the system of funding the portfolio is efficient and uncomplicated. Entela is also responsible for managing part of the Gerber portfolio in the capacity of Account Executive.</p>    
              				<p class="contact"><b>contact: </b><a href="tel:212-888-1536">(212) 888-1536</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href="mailto:esemini@gerberfinance.com">email</a><p>         	
              			</td>
              			</table>
              		</div>
		        </div>
			</section>
        </div>
