<div id="page_conatiner">
	<img src="/assets/text/trade.png" class="text">
	<div id="trade_text">
		Our trade finance loan products provide creative financing matched to your trade cycle 
		for inventory purchases. Our team assists in every step of the documentary process, 
		from the initial purchase orders to the letters of credit and payment. We are here to 
		support with all matters relating to getting the goods from your supplier to your 
		warehouse including foreign currency purchases, freight and insurance.<br><br>In addition to 
		letters of credit, we pay your suppliers via documentary collections, direct wires and 
		to save letter of credit costs, our own Letters of Guaranty.
	</div>
</div>