.style5 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;}
.style10 {font-family: Verdana, Arial, Helvetica, sans-serif}
.style11 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; }

.number {
	font-size: 24px;
	font-weight: bold;
	color: #A4B6D6;
	padding-right: 8px;}

.calcBox {
	margin: 10px 10px;
	width: 30px;}

input {
	background-color:#f0f0f0;
	border:1px solid #dbdbdb;
	padding:5px;
	border-radius: 7px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	color: #000;
	font-style:italic;
	width: 80px;
	text-align:right;}
		
input.calcNet {
	font-weight: bold;
	background-color: #97AEAA;
	border: 1px solid #dbdbdb;}
	
input.calcSum {
	background-color: #BAC9C7;
	border: 1px solid #dbdbdb;} 
	
input.calcSumTotal {
	background-color: #97AEAA;
	border: 1px solid #dbdbdb;
	font-weight: bold;} 




