<p>Dear <%= @message.name %></p>

<p>Thank you for you inquiry.</p>

<p>Someone will be in touch with you shortly. In the meantime, please feel free to visit 
the <a href="http://www.gerberfinance.com">Gerber Finance Wesbite</a> for more information, 
as well as view the attached financial application.<p/>

<p>- The Gerber Finance Team</p>
<img src="http://www.gerberfinance.com/images/logo.gif" />



