<span><img src="http://pacific-fortress-4426.herokuapp.com/assets/logo_small.png" /><img src="http://pacific-fortress-4426.herokuapp.com/assets/gerberfinance_small.png"/></span>
<img src="http://pacific-fortress-4426.herokuapp.com/assets/border_top.png" />
<div style="border-left:solid black 1px; border-right:solid black 1px; border-bottom:solid black 1px;">
<div style="margin: 20px;"> 
<p>Dear <%= @message.name %></p>

<p>Thank you for you inquiry.</p>

<p>Someone will be in touch with you shortly. In the meantime, please feel free to visit 
the <a href="http://www.gerberfinance.com">Gerber Finance Wesbite</a> for more information, 
as well as view the attached financial application.<p/>

<p>- The Gerber Finance Team</p>
</div>
</div>


