<html>
<head> 
</head> 
<body>

<table border="0" width="600" cellpadding="0" cellspacing="0" align="center">
<tr>

<td colspan="4" width="600" align="left" style="font-family:Verda=
na, Arial, Helvetica, sans-serif; font-size:10px;"> 
</td>

</tr>

<tr>
<td align="left">
	<img style="display:inline;" src="http://pacific-fortress-4426.herokuapp.com/assets/logo_small.png" width="80" height="80" border="0" alt="Gerber Logo">
	<img style="display:inline;" src="http://pacific-fortress-4426.herokuapp.com/assets/gerberfinance_small.png" width="185" height="24" border="0" alt="Gerber Finance Inc."></td>
<td align="right">
</td>
</tr>

</table>


<table width="600" border="0" cellspacing="0" cellpadding="0" align="center">

<tr>
<td colspan="5"><img style="display:block;" src="http://pacific-fortress-4426.herokuapp.com/assets/border_top.png" width="600" height="43" border="0" alt=""></td>
</tr>


<tr>

<td bgcolor="#000" width="1"></td>
<td width="18"></td>
<td valign="top" width="562">
<font face="verdana,arial,helvetica,sans-serif" size="4" color="#000000">
<strong></strong>
</font>
<font face="verdana,arial,helvetica,sans-serif" size="2" color="#000000" face="Verdana" size="2">

<p>Dear <%= @message.name %></p>
<p>Thank you for you inquiry.</p>

<p>Someone will be in touch with you shortly. In the meantime, please feel free to visit 
the <a href="http://www.gerberfinance.com">Gerber Finance Wesbite</a> for more information, 
as well as view the attached financial application.<p/>

<p>- The Gerber Finance Team</p>

</font>
<td width="18"></td>

<td bgcolor="#000" width="1"></td>
</tr>

<tr>
<td colspan="5" bgcolor="#000"></td>
</tr>
</table>


<tr>


<table width="600" border="0" cellspacing="0" cellpadding="0" ali=
gn="center" bgcolor="#FFFFFF">
<tr><td height="14"></td></tr>
</table>

 =

<br> =

<table cellspacing="0" cellpadding="0" width="604" align="center"=
 border="0"> =

<tr> =

<td colspan="3"><font face="Verdana" size="2"> =

<a name="email_security"></a> =

<table width="600" border="0" cellspacing="0" cellpadding="0" ali=
gn="center" bgcolor="#ffffff"> =

<tr> =

<td align="left" valign="top" style="border-bottom: 1px solid #0467=
BC; border-top: 1px solid #0467BC;"><table width="600" =


border="0" cellspacing="0" cellpadding="0" align="center" bgcolor=
="#ffffff"> =

<tr> =

<td width="1" rowspan="2" bgcolor="#0467BC"><img =


src="http://images.bigfootinteractive.com/images/11480280/51312968/free=
_spacer.gif" width="1" height="1" border="0" =


style="display:block;" /></td> =

<td colspan="3" align="left"><table border="0" cellspacing="0" ce=
llpadding="0" bgcolor="#0365BC"> =

<tr> =

<td align="left" valign="top" width="10" height="23"><img =


src="http://images.bigfootinteractive.com/images/11480280/51312968/free=
_spacer.gif" width="10" height="1" border="0" =


style="display:block;" /></td> =

<td align="left" valign="middle" height="23" style="font-family:v=
erdana,arial,helvetica,sans-serif;color:#ffffff; "size="2"> <font face==
"Verdana" size="2">E-mail Security Information</td> =

<td align="left" valign="top" width="10" height="23"><img =


src="http://images.bigfootinteractive.com/images/11480280/51312968/free=
_spacer.gif" width="10" height="1" border="0" =


style="display:block;" /></td> =

</tr> =

</table></td> =

<td width="1" rowspan="2" bgcolor="#0467BC"><img =


src="http://images.bigfootinteractive.com/images/11480280/51312968/free=
_spacer.gif" width="1" height="1" border="0" =


style="display:block;" /></td> =

</tr> =

<tr> =

<td align="left" valign="top" width="15"><img =


src="http://images.bigfootinteractive.com/images/11480280/51312968/free=
_spacer.gif" width="15" height="1" border="0" =


style="display:block;" /></td> =

<td align="left" valign="top"><br> =

<strong>
<font face="Verdana" size="2">
E-mail intended for: sjoseph80@gmail.com<br> =

</strong><br /> =

If you would like to learn more about e-mail security or want to report a=
 suspicious e-mail, <a href="http://email.chase.com/1affe6c1clayfiusibt=
kqfuiaaaaaadgcqiirmtkwaayaaaaa" =


target="_blank" style="text-decoration:none;"><span style="color:#0=
066cc;text-decoration:underline;">click here</span></a>.<br =


/> =

<br /> =

<strong>Note:</strong> If you are concerned about clicking links in this =
e-mail, the Chase Online services mentioned above can be accessed by typi=
ng www.chase.com directly into your browser.<br /> </font>
<br /></td> =

<td width="15"><img src="http://images.bigfootinteractive.com/images/=
11480280/51312968/free_spacer.gif" width="15" height="1" =


border="0" style="display:block;" /></td> =

</tr> =

</table></td> =

</tr> =

</table> =

<!-- end EMAIL SECURITY BOX 9.17.08 --> =


</tr> =

</table> =

<br> =

<table cellspacing="0" cellpadding="0" width="604" align="center"=
 border="0"> =

<tbody> =


<tr> =

<td> =

<p><font face="Verdana" size="2" color="#767676">If you want to con=
tact Chase, please do not reply to this message, but =


instead go to <a target="_blank" href="http://email.chase.com/151b336=
a1layfiusibtkqfuqaaaaaadgcqiirmtkwaayaaaaa" ><font =


color="#666666">www.chase.com</font></a>. For faster service, =

please enroll or log in to your account. Replies to this message will not=
 be read or responded to.<br><br> =

Your personal information is protected by advanced technology. For more d=
etailed security information, view our =

<a target="_blank" href="http://email.chase.com/1b2a702f5layfiusibtkq=
fuyaaaaaadgcqiirmtkwaayaaaaa"><font color="#666666">Online Privacy Poli=
cy</font></a>. To request in writing: Chase Privacy Operations, PO Box 65=
9752, =

San Antonio, TX 78265-9752. </font><p align="right"> =

<font face="Verdana" color="#666666" size="2">JPMorgan Chase =

Bank, N.A. Member FDIC<br>&#169; 2012 JPMorgan Chase & Co.<br>LCHI0812NNC=
</font></p> =

<p align="left"> =

<font face="Verdana" size="2" color="#666666"><br> =

<br></font></p> =

</td> =

</tr> =

</tbody> =

</table> =

<img src="http://pix.bfi0.com/t.gif?k=UlZ4TXdDYkNkanNUUNdFBWSlBzTTM=
1R05Sb2t3UkUzUlZONnVEZ3MrZz0&c=114596663&s=214073873&l=CRB&n=2012=
1027_HurricaneSandy_Oct2012_LCHI0812NNC" width="1" height="1" />
<IMG SRC="http://email.chase.com/14657ddlayfir2ia3kjwnyaaaaaadgcqiirm=
tkwaayaaaaa">
</body>


</html> 


