<html>
<head> 
</head> 
<body>

<table border="0" width="600" cellpadding="0" cellspacing="0" align="center">
<tr>

<td colspan="4" width="600" align="left" style="font-family:Verda=
na, Arial, Helvetica, sans-serif; font-size:10px;"> 
</td>

</tr>

<tr>
<td align="left">
	<img style="display:inline;" src="http://pacific-fortress-4426.herokuapp.com/assets/logo_small.png" width="80" height="80" border="0" alt="Gerber Logo">
	<img style="display:inline;" src="http://pacific-fortress-4426.herokuapp.com/assets/gerberfinance_small.png" width="185" height="24" border="0" alt="Gerber Finance Inc."></td>
<td align="right">
</td>
</tr>

</table>


<table width="600" border="0" cellspacing="0" cellpadding="0" align="center">

<tr>
<td colspan="5"><img style="display:block;" src="http://pacific-fortress-4426.herokuapp.com/assets/border_top.png" width="600" height="43" border="0" alt=""></td>
</tr>


<tr>

<td bgcolor="#000" width="1"></td>
<td width="18"></td>
<td valign="top" width="562">
<font face="verdana,arial,helvetica,sans-serif" size="4" color="#000000">
<strong></strong>
</font>
<font face="verdana,arial,helvetica,sans-serif" size="2" color="#000000" face="Verdana" size="2">

<p>Dear <%= @message.name %></p>
<p>Thank you for you inquiry.</p>

<p>Someone will be in touch with you shortly. In the meantime, please feel free to visit 
the <a href="http://www.gerberfinance.com">Gerber Finance Wesbite</a> for more information, 
as well as view the attached financial application.<p/>

<p>- The Gerber Finance Team</p>

</font>
<td width="18"></td>

<td bgcolor="#000" width="1"></td>
</tr>

<tr>
<td colspan="5" bgcolor="#000"></td>
</tr>
</table>



</body>


</html> 


