<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title></title>
    <%= stylesheet_link_tag "application-handheld" %>
	<%= javascript_include_tag "application-handheld" %>
  </head>
 <body>
	<div><img src="/assets/logo.png" class="logo">
	</div>
	<div><img src="/assets/gerberfinance.png"></div>
	<div style="color:white;">
		<ul>
			<li><button>About Us</button></li>
			<li><button>Client Testimonials</button></li>
			<li><button>Inside Your Lender's Head</button></li>
			<li><button>Contact Us</button></li>
		</ul>
		
	</div>
    
      <%= yield %>
    </div>
  </body>
</html>